@page "/customers"
@using InvoicingSystem.Server.Data.Models
@using Radzen
@using Radzen.Blazor
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<PageTitle>Listado de Clientes</PageTitle>

<div class="row mb-4">
    <div class="col-md-6">
        <h1>Directorio de Clientes</h1>
    </div>
    <div class="col-md-6 text-end">
        <RadzenButton Text="Añadir Cliente" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" Click="@GoToAdd" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <RadzenDataGrid Data="@customers" Count="@count" TItem="Customers" LoadData="@LoadData"
                        AllowFiltering="true" AllowPaging="true" AllowSorting="true" PageSize="10"
                        IsLoading="@isLoading" RowDoubleClick="@OnRowDoubleClick">
            <Columns>
                <RadzenDataGridColumn TItem="Customers" Property="CustomerId" Title="ID Cliente" Width="150px" />
                <RadzenDataGridColumn TItem="Customers" Property="Name" Title="Nombre" />
                <RadzenDataGridColumn TItem="Customers" Property="Nif" Title="NIF/CIF" Width="150px" />
                <RadzenDataGridColumn TItem="Customers" Property="City" Title="Ciudad" Width="200px" />
                <RadzenDataGridColumn TItem="Customers" Property="Address" Title="Dirección" />

                <RadzenDataGridColumn TItem="Customers" Context="customer" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="120px">
                    <Template Context="customer">
                        <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(() => GoToEdit(customer.CustomerId))" @onclick:stopPropagation="true" />
                        <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(() => DeleteCustomer(customer.CustomerId))" @onclick:stopPropagation="true" class="ms-1" />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
</div>